$cell-size: 100px;
$bgc-cell: #eee;
$columns: 7;
$paddings: 10px;
$cell-gap: 1px;
$cell-gap-count: 6;
$days-count: 28, 29, 30, 31;
$hover-cell-color: #ffbfcb;
$days: (
  mon: 0,
  tue: 1,
  wed: 2,
  thu: 3,
  fri: 4,
  sat: 5,
  sun: 6,
);
